*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Special Elite', cursive;
}
.parallax {
    background-image: url("../img/peaky-blinders_fondo.jpeg") ;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


@media screen and (max-width: 768px) {
    .parallax{
       background-image: url(../img/fondoQuery.png);
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       width: 100%;
    }
    .fotoActors li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    }
    @media screen and (max-width: 991px) {
        .fotoActors li{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        }
/* -----------HEADER----------- */
header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    border-bottom: goldenrod solid 0.1rem;
    padding: 2rem;
}
.listaNav li a {
    color: goldenrod;
    font-family: 'Special Elite', cursive;
    margin: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: end;
    transition: all 0.3s;
    &:hover{
        animation: cambioColor 10s;
        text-decoration: overline;
        transform: scale(1.1);
    }
}
@keyframes cambioColor{
    0%{
        color: goldenrod;
    }
    5%{
        color: aliceblue;
    }
    100%{
        color: aliceblue;
    }
}
h2 {
    color: goldenrod;  
    text-align: center;
    font-size: 1.5rem; 
}
.back{
    justify-content: center;
    &:hover{
        text-decoration: overline;
    }
}
.carritoShop{
    position: fixed;
    top: 35px;
    left: 25px;  
}
svg{
    transition: all 0.3s;  
    &:hover{
        transform: scale(1.5); 
    }
}
/* ----------ACTORS---------- */
.containerActors{
    position: relative;
    padding: 1rem;
    margin: 1rem;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }
}
.tituloActors{
    position: relative;
}
.borderActors{
    border: goldenrod solid 0.05rem;
    &:hover{
        box-shadow: 3px 5px 8px whitesmoke; 
    }
}
.fotoActors{
    margin: auto;
    position: relative;
}
.listaAct{
    display: flex;
    flex-direction: row;

}
/* ========actorsHtml======== */
.padreActors{ 
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr ;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}
.navActors li a{
    color: goldenrod;
}
.actors{
    display: flex;
    justify-content: center;
}
/* ----------SHOP----------- */
.containerShop{
    padding: 1rem;
    margin: 1rem;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }   
}
.tituloShop{
    position: relative;
}
.fotoShop{
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.3s;  
}
.imagenShop:hover{
    border: goldenrod solid 0.1rem;
}
/* ==========shopHtml========= */

.fotoSh{
    width: 100%;
    height:auto;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .fotoSh{
        width: 18rem;
        text-align: center;
    }
div .center{
    width: 10rem;
    display: flex;
    justify-content: center;
}
}
/* -------------NEW------------- */
.containerNew{
    padding: 1rem;
    margin: 1rem;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: -1; 
    }
}
.iframeNew{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    position: relative;
 }
 @media screen and (min-width: 991px) {
    iframe{
        height: 420px;
    }}
    @media screen and (min-width: 576px){ 
        iframe{
            height: 420px;
            
        }
    }
    iframe:hover{
        border: goldenrod double 0.2rem;
    }
    
    h3{
        color: goldenrod;  
        text-align: left; 
    }
    p{
        color: goldenrod;
        font-size: 1.5rem; 
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .font-enlace{
        color: #a55c1b;
        &:hover{
            animation: cambioColor 10s; 
        }
        }
        @keyframes cambioColor{
            0%{
                color: goldenrod;
            }
            5%{
                color: aliceblue;
            }
            100%{
                color: aliceblue;
            }
        }
    /* -----------Gallery----------- */
.containerGallery{
    padding: 1rem;
    margin: 1rem;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }
}    
.carouselFoto{
    width: 70%;
    height: auto;
}
.caroGal{
    display: flex;
    justify-content: center;
}
.imgGal{
    padding: 2rem;
    background-color: black;
    position: relative;
}
img:hover{
    border: goldenrod solid 0.1rem;
}
.tituloGallery{
    position: relative;
}
/* -----------Behind------------- */
.containerBehind{
    padding: 1rem;
    margin: 1rem;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5; 
    }
}
.tituloBehind{
    position: relative;
}
/* ===========behindHtml============ */
.fotoB{
    padding: 1rem;
}
/* --------------Footer-------------- */
footer{
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    border-top: goldenrod solid 0.1rem;
    background-color: background-color #a55c1b;
    background-image: linear-gradient(315deg, #a55c1b 5%, #000000 60%);
}
.liFooter li a{
    color: goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem;
    &:hover{
        animation: cambioColor 10s;
        text-decoration: overline;
        
}}
svg{
    color: goldenrod;
}
/* ============formHtml============ */
.bodyForm{
    background-color: rgb(208, 188, 152)
}
.headerForm{
    padding: 2rem;
    background-color: black;
    border-bottom: goldenrod double 0.2rem;
    display: flex;
    justify-content: center;
}
h1{
    color: goldenrod;
}
h5{
    position: relative;
    color: goldenrod;
}
.containerForm{
    background-color:gray;
    display: flex;
    justify-content: center;
}
.email{
    color: goldenrod;
    position: relative;
}
.texto{
    position: relative;
    color: goldenrod;
}
.text{
    position: relative;
}
.formulario{
    position: relative;
    display: flex;
    flex-direction: column;
}
.boton{
    position: relative;
    color: goldenrod;
}
.containerForm{
    position: relative;
    padding: 1rem;
    margin: 1rem;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }
}
.botonBack{
    color: goldenrod;
}
h6{
    color: goldenrod;
}